<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cf6b4a4-80a5-4919-a91a-87c40613b39a" Alias="386F9Aa5 F21D 4C80 Bb9B 1D751387Bace" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F9Aa5F21D4C80Bb9B1D751387Bace</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-01T14:19:25</CreateDate>
    <NodeName Default="386F9Aa5 F21D 4C80 Bb9B 1D751387Bace" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fn5laowm/386f9aa5-f21d-4c80-bb9b-1d751387bace.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>