<?xml version="1.0" encoding="utf-8"?>
<Media Key="c360f9c6-f65f-4970-8f34-9809993d1f3d" Alias="Chatgpt Image Aug 13, 2026, 11 35 08 PM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChatgptImageAug132026113508PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-01T14:13:51</CreateDate>
    <NodeName Default="Chatgpt Image Aug 13, 2026, 11 35 08 PM" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jezdm3jw/chatgpt-image-aug-13-2026-11_35_08-pm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>