<?xml version="1.0" encoding="utf-8"?>
<Media Key="5af50ade-9a90-43e0-8118-035131cc5ddb" Alias="Chatgpt Image Sep 1, 2026, 10 21 39 PM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChatgptImageSep12026102139PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-01T14:21:59</CreateDate>
    <NodeName Default="Chatgpt Image Sep 1, 2026, 10 21 39 PM" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/khalh1hz/chatgpt-image-sep-1-2026-10_21_39-pm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>