<?xml version="1.0" encoding="utf-8"?>
<Media Key="7892d4b1-5bd3-4526-95c9-464746d40972" Alias="Chatgpt Image Aug 14, 2026, 05 18 51 AM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChatgptImageAug142026051851AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-01T14:08:11</CreateDate>
    <NodeName Default="Chatgpt Image Aug 14, 2026, 05 18 51 AM" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hypnjtv0/chatgpt-image-aug-14-2026-05_18_51-am.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>