<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75165982-ad8f-4d38-ad69-7ff939353a14" Alias="Block List - Social Links" Level="1">
  <Info>
    <Name>Block List - Social Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias />
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "41fbfedc-5677-4d0c-b503-c256d07d78a8",
      "settingsElementTypeKey": null
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>