<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c30edc7-0ca2-4159-ad96-1695fee1b785" Alias="Block List - Leadership" Level="1">
  <Info>
    <Name>Block List - Leadership</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias />
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0e15eb61-78cb-4160-ab5a-396d21364ebe",
      "settingsElementTypeKey": null
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>