<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d2655e5-dcf6-4153-82c7-fae102c63916" Alias="Block List - Initiatives" Level="1">
  <Info>
    <Name>Block List - Initiatives</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias />
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e2967964-0364-460b-ac5d-6781fff5922e",
      "settingsElementTypeKey": null
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>