<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0c9abcb-d77b-49eb-868a-a93ab006340c" Alias="Content Picker - Articles" Level="1">
  <Info>
    <Name>Content Picker - Articles</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias />
  </Info>
  <Config><![CDATA[{
  "allowedContentTypes": "4da82cb3-644a-4ee5-b207-8453b9d4808f",
  "ignoreUserStartNodes": false
}]]></Config>
</DataType>