<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3eb69f9b-ea23-4613-9d9f-a72b7dbe13fe" Alias="Media Picker - Image" Level="1">
  <Info>
    <Name>Media Picker - Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias />
  </Info>
  <Config><![CDATA[{
  "crops": null,
  "enableLocalFocalPoint": false,
  "filter": "image",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "startNodeId": null,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>