<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc060fc8-0bcc-475a-8d86-71f314fbe0b2" Alias="Media Picker - PDF" Level="1">
  <Info>
    <Name>Media Picker - PDF</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias />
  </Info>
  <Config><![CDATA[{
  "crops": null,
  "enableLocalFocalPoint": false,
  "filter": "file",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "startNodeId": null,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>