<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5749b756-ac50-44d2-9403-5fc5e87bfccb" Alias="certificationsListing" Level="1">
  <Info>
    <Name>Certifications Listing</Name>
    <Icon>icon-certificate</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4c0f3a87-32c3-4eb8-b29a-e41afd73d1ac">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>CertificationsListing</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ed087616-f650-4f22-bfa7-48d81e27dc3b">CertificationsListing</Template>
    </AllowedTemplates>
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="555250d9-4bd0-4577-b644-8310b43dafbf" SortOrder="0">certification</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>14984a68-5022-4131-9fdd-f7143172b09f</Key>
      <Name>Intro</Name>
      <Alias>intro</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a000a13b-bae0-483e-9426-60dc9cc21015</Key>
      <Caption>Content</Caption>
      <Alias>Content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>