<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66c26ab8-162f-4ab4-ad72-085eb9adb104" Alias="sustainabilityPage" Level="1">
  <Info>
    <Name>Sustainability Page</Name>
    <Icon>icon-leaf</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4c0f3a87-32c3-4eb8-b29a-e41afd73d1ac">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>SustainabilityPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="34883927-7bb0-400d-96c2-bb21972cd32b">SustainabilityPage</Template>
    </AllowedTemplates>
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aad647ba-4574-4f4c-8bf0-2679f95988b0</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2035516c-b153-4223-9e99-a41f7b4f13c1</Key>
      <Name>Initiatives</Name>
      <Alias>initiatives</Alias>
      <Definition>1d2655e5-dcf6-4153-82c7-fae102c63916</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2b9f7ea6-7ee4-4da0-937d-e28236fd3a28</Key>
      <Caption>Content</Caption>
      <Alias>Content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>